<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohan.photolib" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.rohan.photolib.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.rohan.photolib.permission.C2D_MESSAGE" />

    <!-- End of Permissions -->
    <application
        android:name=".ParseInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Add FaceBook Auth -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- End of FB Auth -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Justin's Activities -->
        <activity
            android:name=".UserListing"
            android:label="@string/title_activity_user_listing" >
        </activity>
        <activity
            android:name=".ProfileDetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ProfileEdit"
            android:label="@string/title_activity_profile_edit" >
        </activity>
        <activity
            android:name=".MessageInbox"
            android:label="@string/title_activity_message_inbox" >
        </activity>
        <activity
            android:name=".MessageDetail"
            android:label="@string/title_activity_message_detail" >
        </activity>
        <activity
            android:name=".ComposeMessage"
            android:label="@string/title_activity_compose_message" >
        </activity>

        <!-- Push Notifications Enable from Parse.com -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.example.rohan.photolib" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <activity
            android:name=".HomeActivity"
            android:label="BookFace" >
        </activity>
        <activity
            android:name=".CreateAlbum"
            android:label="@string/title_activity_create_album" >
        </activity>
        <activity
            android:name=".ViewAlbums"
            android:label="" >
        </activity>
        <activity
            android:name=".AlbumDetailView"
            android:label="@string/title_activity_album_detail_view" >
        </activity>
        <activity
            android:name=".SelectAddedUsers"
            android:label="@string/title_activity_select_added_users" >
        </activity>
        <activity
            android:name=".BasicViewPhotos"
            android:label="@string/title_activity_basic_view_photos" >
        </activity>
        <activity
            android:name=".SingleImageView"
            android:label="@string/title_activity_single_image_view" >
        </activity>
        <activity
            android:name=".ApprovePhotos"
            android:label="@string/title_activity_approve_photos" >
        </activity>
    </application>

</manifest>
